[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
tqdm = "*"
ipdb = "*"

[packages]
requests = "*"
pillow = "*"
coreapi = ">=2.3.3"
pyyaml = ">=4.2b1"
django-admin-rangefilter = "*"
django = "<=2.1.7"
djangorestframework = "*"
django-cors-headers = ">=2.4"
dj-database-url = "*"
whitenoise = "*"
flake8 = "*"
django-environ = "*"
python-dotenv = "*"
pymysql = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
