[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
tqdm = "*"
ipdb = "*"
flake8 = "*"
django-debug-toolbar = "~=1.11"
django-extensions = "~=2.1.6"

[packages]
requests = "~=2.21.0"
pillow = "~=5.4.1"
coreapi = "~=2.3.3"
pyyaml = "~=5.1"
django-admin-rangefilter = "~=0.3.12"
django = "~=2.2.4"
djangorestframework = "~=3.11.2"
django-cors-headers = "~=2.5.3"
dj-database-url = "~=0.5.0"
whitenoise = "~=4.1.2"
django-environ = "~=0.4.5"
python-dotenv = "~=0.10.1"
pymysql = "~=0.9.3"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
