[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"

[packages]
requests = "*"
pillow = "*"
tqdm = "*"
pyyaml = "*"
django-admin-rangefilter = "*"
django = ">=2.1"
ipdb = "*"
dj-database-url = "*"
whitenoise = "*"
flake8 = "*"

[requires]
python_version = "3.7"
